html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */

body {
    color: rgb(72, 98, 112) !important;
    background-color: #fff;
}
.bg-grey {
    background-color: #f4f4f4 !important;
}
.bg-grey-light {
    background-color: rgba(250, 250, 250, 0.5) !important;
}
.bg-wite {
    background-color: #fff !important;
}
.hidden {
    display: none !important;
}
.spinner {
    color: rgba(252, 128, 25, 0.15);
}
.height-30 {
    height: 30vh;
}
.height-40 {
    height: 40vh;
}
.height-50 {
    height: 50vh;
}
.height-60 {
    height: 60vh;
}
.height-70 {
    height: 70vh;
}
.height-80 {
    height: 82vh;
}
.height-100 {
    height: 100vh;
}
.height-100-percent {
    height: 100% !important;
    min-height: 100vh !important;
}
.fixed {
    position: fixed;
}
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shadow-light {
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}
.shadow-medium {
    -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}
.shadow-dark {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}
.display-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.flex-auto {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}
/* FirstScreen */

.welcome-heading {
    text-align: center;
    margin: 0.25rem 1.5625rem 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
    white-space: pre-wrap;
    color: #282c3f;
}
.welcome-subheading {
    font-size: 0.875rem;
    color: #646464;
    margin-top: 0.9375rem;
}
.btn-setup-location {
    width: 16rem;
    height: 4rem;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    color: #fff;
    text-transform: uppercase;
    border-radius: 1px;
    text-align: center;
    line-height: 2.7rem;
}
.btn-setup-location:hover {
    color: #fff;
}
.login-block {
    display: block;
    text-align: center;
    color: #646464;
    margin-top: 0.9375rem;
}
.login-block > a {
    font-weight: 400;
}
/* Location */

.search-box {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.search-input {
    font-size: 0.9375rem;
    height: 4rem;
    border: 0;
}
.search-navs-btns {
    height: 4rem;
    border: 0;
    width: 65px;
    background: #fff;
    border-radius: 0;
}
.search-navs-btns > i {
    font-weight: 900;
}
.height-8-5 {
    height: 8.5vh;
}
.location-search-result {
    min-height: auto;
    background-color: #fff;
}
.location-search-block {
    border-top: 1px solid #eaecee;
    position: relative;
    padding: 1.4rem 0;
    background-color: rgba(0, 0, 0, 0.02);
}
.location-search-block:nth-of-type(2n-1) {
    background-color: #fff;
}
.location-search-icon {
    width: 5rem;
    float: left;
    text-align: center;
}
.location-search-data {
    padding-left: 5.625rem;
}
table > tbody > tr {
    height: 6rem;
}
/*Footer */

.footer-fixed {
    position: fixed;
    bottom: -1px;
    left: 0;
    -webkit-box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.15);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #fff;
    text-align: center;
    z-index: 9999999;
}
.active-footer-tab {
    color: #fc8019;
    font-weight: 600;
}
.footer-links {
    color: #4d4d4d;
    font-weight: 500;
}
.cart-quantity-badge {
    border-radius: 100%;
    color: #fff;
    position: absolute;
    top: -4px;
    left: 50px;
    font-size: 10px;
    text-align: center;
    height: 16px;
    width: 16px;
}
/* Nav */

.nav-location {
    height: 4rem;
    border: 0;
    background: #fff;
    border-radius: 0;
}
.nav-location-icon {
    font-size: 0.625rem;
    margin-left: 0.125rem;
    font-weight: 700;
}
/* Promo Slider */

.slider-wrapper {
    margin-top: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 1rem;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slider-wrapper::-webkit-scrollbar {
    display: none;
}
.slider-wrapper__img-wrapper {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.slider-wrapper__img {
    height: 12rem;
    width: 12rem;
    border-radius: 0.25rem;
}
.slider-wrapper__img-wrapper:first-child {
    margin-left: 1rem;
}
.slider-wrapper__img-wrapper:last-child {
    margin-right: 1rem;
}
.promo-slider-loader {
    width: 100%;
    margin: 0;
    height: 192px;
}
/* RestaurantList */

.restaurant-count {
    color: #5b5b5b;
    font-size: 0.78rem;
    font-weight: 500;
}
.restaurant-block {
    padding: 0 !important;
    /* -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px rgba(0, 0, 0, 0.03); */
}
.restaurant-block > div {
    margin-bottom: 0px !important;
}
.restaurant-image {
    width: 80px;
    height: 80px;
    float: left;
    height: 5.625rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
}
.restaurant-info {
    margin-top: -1.8rem;
    text-align: left;
    padding-left: 8.5rem;
    padding-bottom: 1rem !important;
}
.restaurant-meta {
    margin-top: -1.2rem;
    font-size: 0.8rem;
    font-weight: 500;
}
.block-content.block-content-full {
    padding-bottom: 18px;
}
/* Auth/Login */

.back-button {
    background-color: transparent;
}
.login-image {
    max-height: 7rem;
}

.login-title {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}
.login-subtitle {
    font-size: 1rem;
    font-weight: 400;
}
.overlay-loading {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}
.overlay-loading > div {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}
.overlay-loading > div > img {
    width: 300px;
}
.auth-error {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #282c3f;
    color: #f4f4f5;
    padding: 0.8rem;
    z-index: 2147483647;
}
.error-shake {
    -webkit-animation: shake 0.85s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation: shake 0.85s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
@-webkit-keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-3px, 0, 0);
        transform: translate3d(-3px, 0, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(7px, 0, 0);
        transform: translate3d(7px, 0, 0);
    }
}
@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-3px, 0, 0);
        transform: translate3d(-3px, 0, 0);
    }

    20%,
    80% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    40%,
    60% {
        -webkit-transform: translate3d(7px, 0, 0);
        transform: translate3d(7px, 0, 0);
    }
}
/* Elements/Button */

.button-block {
    width: 100%;
}
.btn-main {
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 0;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
/* Items/Restaurantinfo */

.fixed-restaurant-info {
    position: absolute;
    top: 0.6rem;
    left: 5.2rem;
}
.fixedRestaurantName {
    font-size: 1rem;
    font-weight: 700;
}
.fixedRestaurantTime {
    font-weight: 400;
    font-size: 0.9rem;
}
/* Items/ItemList */

.recommended-item-content {
    padding: 0.5rem;
    height: 14rem;
    min-height: 14rem;
}
.recommended-item-image {
    border-radius: 0.25rem;
    height: 118px;
    width: 162px;
}
.recommended-item-meta {
    height: 4.5rem;
    min-height: 4.5rem;
}
.meta-name {
    font-size: 0.95rem;
    font-weight: 500;
}
.meta-price {
    font-size: 0.95rem;
    line-height: 1.5625rem;
}
.Collapsible {
    padding: 10px;
}
.Collapsible__contentInner {
    /* padding: 10px 0; */
    max-width: 468px;
    margin: auto;
}
.Collapsible__contentInner .category-list-item {
    font-size: 18px; 
    margin: .325rem 0; 
    border-bottom: 1px solid #f5f5f5;
    background: #fff; 
}
.Collapsible__contentInner .category-list-item:hover {
    background:#EEF7FA;
}
.Collapsible__contentInner .category-list-item:last-child {
    margin-bottom: 0;
}
.Collapsible__contentInner > div > .item-name {
    font-weight: 500;
}
.Collapsible__contentInner > div > .item-price {
    font-weight: 400;
    color: #757575;
}
.Collapsible__trigger {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 19px 12px;
    background: #f8f5f2;
    color: #282c3f;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: .5rem;
    font-weight: 600;
    max-width: 468px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
}
.Collapsible__trigger:after {
font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    right: 1.025rem;
    top: 1.425rem;
    display: block;
    transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.item-name{
    font-weight:bold;
}
.item-price{
    color:#ff8000;
    font-weight: bold;
    width: 100%;
    float: left;
}
.item-badge {
    position: relative;
    color: #fff;
    font-size: 0.6rem;
    padding: 0.25rem;
    text-transform: uppercase;
    font-weight: 600;
    /* margin-left: 0.25rem; */
    border-radius: 0.2rem;
}
.btn-add-remove {
    border: 1px solid #efefef;
    width: 3.7rem;
    background-color: #fff;
    height: 2.5rem !important;
}
.btn-full .btn-add-remove {
    width: 82px !important;
}
.btn-dec {
    font-size: 2rem;
    font-weight: 600;
    line-height: 11px;
}
.btn-inc {
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 14px;
}
.flex-item-name {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 0 !important;
    position: relative;
}
.flex-item-image {
    border-radius: 0.25rem;
    width: 80px;
    height: 58px;
    position: relative;
}
.recommended-text {
    font-size: 1rem;
    text-transform: uppercase;
}
/* FloatCart */

.float-cart {
    position: fixed;
    width: 100%;
    height: 4rem;
    padding: 1.2rem;
    font-weight: 700;
    opacity: 0;
    bottom: 0rem;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    z-index: 10;
}
.float-cart--open {
    opacity: 1;
    bottom: -0.2rem;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
}
/* Elements/BackWithSearch*/

.nav-page-title {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 42px;
}
/* Cart */

.cart-empty-block {
    height: auto;
    padding-top: 100px;
}
.cart-empty-img {
    width: 100%;
}
.cart-empty-text {
    font-size: 1.2rem;
    font-weight: 600;
    color: #535665;
}
.progress-transparent {
    background-color: transparent !important;
}
/* Cart/CartItems */

.btn-quantity {
    height: 2.5rem !important;
    background-color: #fff;
    border: 1px solid #efefef;
}
.cart-item-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cart-item-meta:last-child {
    border-bottom: 1px solid #f2f2f2;
}
.cart-item-name {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 110px;
    font-weight: 400;
}
.cart-item-btn {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 110px;
    margin-top: 0.5rem;
}
.cart-item-price {
    font-weight: 500;
    font-weight: 400;
    width: 75px;
    text-align: right;
}
.item-text {
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 1rem;
}
/* Cart/OrderComment */

.order-comment {
    height: 3.2rem;
    font-size: 1rem;
    border: 0;
    padding: 0 15px;
    border-radius: 0;
}
/* Cart/Coupon */

.coupon-form {
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.apply-coupon-input {
    height: 5rem;
    font-size: 1.1rem;
    border: 0;
    padding: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.apply-coupon-input::-webkit-input-placeholder {
    color: #282c3f;
    letter-spacing: 1px;
}
.apply-coupon-input:-ms-input-placeholder {
    color: #282c3f;
    letter-spacing: 1px;
}
.apply-coupon-input::-ms-input-placeholder {
    color: #282c3f;
    letter-spacing: 1px;
}
.apply-coupon-input::placeholder {
    color: #282c3f;
    letter-spacing: 1px;
}
.apply-coupon-input::-webkit-input-placeholder {
    color: #282c3f;
    letter-spacing: 1px;
}
.apply-coupon-input::-moz-placeholder {
    color: #282c3f;
    letter-spacing: 1px;
}
.apply-coupon-btn {
    height: 5rem;
    background-color: #fff;
    width: 4rem;
    border: 0;
    border-radius: 0 !important;
}
.apply-coupon-btn > i {
    font-size: 1.2rem;
    font-weight: 600;
}
.coupon-status {
    width: 100%;
    text-align: center;
}
.coupon-success {
    background-color: #60b246;
    color: #fff;
    font-weight: 500;
}
.coupon-fail {
    background-color: #f44336;
    color: #fff;
    font-weight: 500;
}
.coupon-text {
    color: #60b246;
    font-weight: 500;
}
/* Cart/BillDetails */

.bill-details::after {
    content: " ";
    background: linear-gradient(-45deg, #f4f4f5 7px, transparent 0), linear-gradient(45deg, #f4f4f5 7px, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 12px 14px;
    display: block;
    left: 0;
    width: 100%;
    height: 14px;
    bottom: 0;
}
.bill-detail-text {
    height: 3.2rem;
    font-size: 1.1rem;
    border: 0;
    text-transform: uppercase;
}
.deliver-to-text {
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-weight: 600;
}
.change-address-text {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-weight: 600;
    border: 1px solid #ccc;
}
.user-address {
    font-size: 13px;
}
.almost-there-text {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-weight: 700;
}
.almost-there-sub {
    font-weight: 400;
    font-size: 0.9rem;
}
.btn-continue {
    width: 100%;
    border-radius: 0;
    height: 4rem;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.7rem;
}
.btn-continue:focus,
.btn-continue:hover {
    color: #fff !important;
}
.btn-make-payment {
    width: 100%;
    margin: 0 auto;
    padding: 0.9375rem 0;
    line-height: 1.95rem;
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    border-radius: 0;
    height: 4rem;
}
.btn-make-payment:focus,
.btn-make-payment:hover {
    color: #fff !important;
}
/* Account/UserInfo */

.hr-bold {
    border-top: 2.5px solid #000 !important;
}
/* Account/UserMenu */

.pages-modal {
    overflow: scroll;
    min-height: 100vh;
}
.popup-overlay {
    padding: 0 !important;
}
.popup-content {
    width: 100% !important;
    border: 0 !important;
    padding: 10px !important;
    padding-top: 0 !important;
}
.close-modal-header {
    position: fixed;
    height: 4rem;
    top: 0;
    width: 100%;
    right: 10px;
    background-color: #fff;
    border: 0 !important;
}
.close-modal-icon {
    font-size: 2.5rem;
    font-weight: 200;
}
/* Account/Logout */

.logout-text {
    color: #f44336;
    font-weight: 600;
}
.logout-icon {
    color: #f44336;
    font-weight: 900;
}
/* Account/Addresses */

.btn-new-address {
    width: 100%;
    margin: 0 auto;
    padding: 0.9375rem 0;
    line-height: 2.15rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
    text-align: center;
    position: relative;
}
.btn-save-address {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0.9375rem 0;
    line-height: 2.15rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
    text-align: center;
    border: 0;
}
.edit-address-input-label {
    color: #9e9e9e;
}
.edit-address-input {
    margin-bottom: 1.5rem;
    border: 0;
    border-bottom: 1.2px solid #eee;
    border-radius: 0;
    padding: 0;
}
.edit-address-tag {
    text-transform: uppercase;
}
.btn-edit-address {
    font-weight: 500;
}
/* Address/AddressList */

.btn-address-default {
    background-color: transparent;
    position: relative;
}
.btn-address-default > i {
    color: #ccc;
}
.btn-address-default.selected > i {
    font-size: 2rem;
}
/* RunningOrder */
.btn-deliverypin {
    color: #ff9800;
}
.btn-refresh-status {
    width: 100%;
    position: fixed;
    bottom: 0;
    border: 0;
    border-radius: 0;
    height: 4rem;
    font-size: 1.2rem;
}
/* Account/Orders/OrderList */

.order-item-quantity {
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-weight: 500;
    min-width: 35px;
    text-align: center;
}
/* Desktop View */

.main-container-desktop {
    min-height: 100vh;
    background: linear-gradient(-45deg, rgba(103, 58, 183, 0.9), rgba(255, 87, 34, 0.7), rgba(103, 58, 183, 0.9), rgba(255, 87, 34, 0.7));
    background-size: 500% 500%;
    -webkit-animation: Gradient 50s ease infinite;
    animation: Gradient 50s ease infinite;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.main-container-desktop::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url(../img/various/bg-design.png) no-repeat scroll center bottom/cover;
    z-index: -1;
}
.phone {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    width: 380px;
    height: 665px;
    padding: 10px 7px;
    border-radius: 20px;
    background: #d9dee3;
    -ms-flex-item-align: center;
    align-self: center;
    margin: -3.5rem 0 0 12rem;
    position: relative;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.phone-use {
    width: 380px;
    height: 665px;
    margin: -3rem 0 0 8rem;
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.phone .notch {
    position: absolute;
    height: 1rem;
    width: 28%;
    background-color: #d9dee3;
    z-index: 9;
    right: 50%;
    -webkit-transform: translate(50%, -5%);
    transform: translate(50%, -5%);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.phone .iframe-wrapper {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
}
.phone iframe {
    height: 100%;
    display: block;
    width: 100%;
    border-radius: 12px;
}
.blured {
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);
}
.btn-unblur {
    height: 4.5rem;
    width: 200px;
    background-color: #f1592a;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    border-radius: 0.275rem;
    line-height: 4rem;
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
}
.btn-unblur:hover {
    background-color: #f1593a;
    -webkit-box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
}
#appIframe {
    pointer-events: none;
}
.phone-use #appIframe {
    pointer-events: auto !important;
}
.bg-gradient {
    background: linear-gradient(-45deg, rgba(103, 58, 183, 0.9), rgba(0, 150, 136, 0.9), rgba(103, 58, 183, 0.9));
    background-size: 400% 400%;
    -webkit-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.left-col {
    -webkit-transform: translate(0px, 20%);
    transform: translate(0px, 20%);
}
.desktop-logo {
    margin-bottom: 2.5rem;
    height: 3.5rem;
}

.desktop-title {
    color: #424242;
    font-size: 3.5rem;
    font-weight: 900;
}
.desktop-subtitle {
    color: #424242;
    font-size: 1.3rem;
    font-weight: 400;
}

.store-achievement {
    width: 200px;
    height: 150px;
    -webkit-box-shadow: rgba(34, 48, 102, 0.1) -3px 6px 21.1px -4px;
    box-shadow: rgba(34, 48, 102, 0.1) -3px 6px 21.1px -4px;
    border-radius: 7px;
    background-color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.store-achievement:hover {
    -webkit-transform: translateY(0, -10%);
    transform: translateY(0, -10%);
    -webkit-box-shadow: rgba(34, 48, 102, 0.1) -3px 6px 21.1px -10px;
    box-shadow: rgba(34, 48, 102, 0.1) -3px 6px 21.1px -10px;
}
.Tilt {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.store-achievement h3 {
    font-weight: 900;
    color: #424242;
    margin-bottom: 0.45rem;
}

.store-achievement h4 {
    -webkit-transform: translateZ(15px);
    transform: translateZ(15px);
    color: #424242;
}

.desktop-footer {
    min-height: 70vh;
    background: linear-gradient(-45deg, rgba(255, 87, 34, 0.7), rgba(103, 58, 183, 0.9), rgba(255, 87, 34, 0.7), rgba(103, 58, 183, 0.9));
    background-size: 500% 500%;
    -webkit-animation: Gradient 50s ease infinite;
    animation: Gradient 50s ease infinite;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.desktop-footer::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url(../img/various/bg-design.png) no-repeat scroll center bottom/cover;
    z-index: -1;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.footer-logo {
    height: 2rem;
}
/* END Desktop View */

/* Delivery/Orders */

.delivery::after {
    content: " ";
    background: -webkit-linear-gradient(135deg, #f4f4f4 7px, transparent 0), -webkit-linear-gradient(45deg, #f4f4f4 7px, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 14px 14px;
    display: block;
    left: 0;
    width: 100%;
    height: 23px;
    bottom: 0px;
    position: relative;
}
.btn-logout-delivery {
    width: 100%;
    border-radius: 0;
    height: 4rem;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.7rem;
    bottom: 0;
    position: fixed !important;
    background-color: #000;
}
.delivery > h3 {
    color: #575757;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.delivery .block {
    background-color: #fff;
    margin-bottom: 0.8rem;
}
.delivery .accepted {
    background-color: #4caf50;
    border-radius: 0.275rem;
}
.delivery .new-order {
    background-color: #ffc107;
    border-radius: 0.275rem;
}
.delivery .block-title {
    color: #fff;
    font-weight: 700;
}
.delivery-action {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.btn-accept {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    border: 0;
    height: 4rem;
    font-size: 1.2rem;
    color: #fff;
}
.btn-get-direction {
    border-radius: 1px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}
.btn-clock {
    color: #ff5722;
    width: 100%;
}
.btn-cod {
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    background-color: #fff;
    border: 3px dashed #60b246;
    border-radius: 0;
}
.btn-payed-online {
    width: 100%;
    height: 4rem;
    font-size: 1.2rem;
    background-color: #fff;
    border: 3px dashed #60b246;
    border-radius: 0;
}
.delivery-pin-block input {
    height: 4rem;
    border-radius: 0;
    text-transform: uppercase;
    border: 3px solid #e0e0e0;
}
.delivery-pin-block .btn-submit-pin {
    height: 3.2rem;
    width: 100%;
    border-radius: 0;
}
/* Delivery/ViewOrder */

.view-delivery-order h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
}
.restaurant-address,
.customer-address {
    border: 1px solid #e0e0e0;
    padding: 1rem;
    background-color: #fff;
}

/* EXTRAS */

.fixed-gdpr {
    min-height: 3rem;
    height: auto;
    text-align: center;
    padding-top: 0.6rem;
    background-color: #282c3f;
    color: #fff;
}
.fixed-gdpr button {
    color: #fff;
}

.mobile-gdpr {
    position: fixed;
    bottom: 0;
    height: 6rem;
    color: #fff;
    left: 0;
    padding: 10px;
    -webkit-box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.2);
    z-index: 9999999;
    background-color: #282c3f;
}
.mobile-gdpr button {
    color: #fff;
    padding: 3px 12px;
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 1;
}

.mobile-gdpr button:hover {
    text-shadow: none;
    color: #fff;
}

/* Addons Popup*/
@-webkit-keyframes hover-color {
    from {
        border-color: #c0c0c0;
    }
    to {
        border-color: #3e97eb;
    }
}
@keyframes hover-color {
    from {
        border-color: #c0c0c0;
    }
    to {
        border-color: #3e97eb;
    }
}

.magic-radio,
.magic-checkbox {
    position: absolute;
    height: 3rem;
    width: 100%;
    opacity: 0;
    z-index: 99999;
}

.magic-radio[disabled],
.magic-checkbox[disabled] {
    cursor: not-allowed;
}

.magic-radio + label,
.magic-checkbox + label {
    position: relative;
    display: block;
    cursor: pointer;
    vertical-align: middle;
    line-height: 30px;
}
.magic-radio + label:hover:before,
.magic-checkbox + label:hover:before {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: hover-color;
    animation-name: hover-color;
}
.magic-radio + label:before,
.magic-checkbox + label:before {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    border: 2px solid #e7e7e7;
}
.magic-radio + label:after,
.magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: "";
}

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
    cursor: not-allowed;
    color: #e4e4e4;
}
.magic-radio[disabled] + label:hover,
.magic-radio[disabled] + label:before,
.magic-radio[disabled] + label:after,
.magic-checkbox[disabled] + label:hover,
.magic-checkbox[disabled] + label:before,
.magic-checkbox[disabled] + label:after {
    cursor: not-allowed;
}
.magic-radio[disabled] + label:hover:before,
.magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    -webkit-animation-name: none;
    animation-name: none;
}
.magic-radio[disabled] + label:before,
.magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4;
}

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
    -webkit-animation-name: none;
    animation-name: none;
}

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
    display: block;
}

.magic-radio + label:before {
    border-radius: 50%;
}

.magic-radio + label:after {
    top: 9px;
    right: 8.6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #60b246;
}

.magic-radio:checked + label:before {
    border: 2px solid #bdbdbd;
}

.magic-radio:checked[disabled] + label:before {
    border: 1px solid #c9e2f9;
}

.magic-radio:checked[disabled] + label:after {
    background: #c9e2f9;
}

.magic-checkbox + label:before {
    border-radius: 3px;
}

.magic-checkbox + label:after {
    top: 7px;
    right: 11px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8px;
    height: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
}

.magic-checkbox:checked + label:before {
    border: #60b246;
    background: #60b246;
}

.magic-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9;
}
.form-group .addon-list {
    margin-bottom: 20px;
}
.addon-label {
    font-weight: 400;
    font-size: 1rem;
}
.addon-category-block:last-of-type {
    margin-bottom: 8rem;
}
.addon-category-name {
    font-weight: 700;
    margin-bottom: 0 !important;
    color: #424242;
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-customization-done {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 110%;
    margin-left: -2rem;
    height: 4rem;
    z-index: 99999;
}
.customizable-item-text {
    text-align: left;
    font-weight: 400;
    font-size: 0.8rem;
}
.noscroll {
    overflow: hidden;
}

.customizable-scroll {
    overflow-y: scroll;
}
.popup-overlay{
    overflow-y: scroll;
}

button.payButton {
    width: 100%;
    height: 5.5rem;
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    color: #282c3f !important;
    font-weight: 600;
    font-size: 1.1rem !important;
}

.facebook-login-button {
    border: 0;
    height: 3rem;
    color: #fff;
    background-color: #3b5998;
    font-weight: 500;
    padding: 0 15px;
    font-size: 1.1rem;
}
.google-login-button {
    border: 0;
    height: 3rem;
    color: #fff;
    background-color: #ea4335;
    font-weight: 500;
    padding: 0 15px;
    font-size: 1.1rem;
}
.login-or {
    color: #bdbdbd;
}
.login-or:after,
.login-or:before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}

.srv-validation-message {
    font-size: 0.8rem;
    color: #ff5722;
    font-weight: 400;
}
.resend-otp {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: #9e9e9e;
    width: 100%;
    font-weight: 500;
    padding: 10px 0;
}
.countdown {
    font-size: 0.9rem;
    color: #9e9e9e;
    border: 0;
}

button.btn.btn-add-remove:disabled {
    opacity: 0.8;
    background-color: #eeeeee;
}

.quantity-badge-recommended {
    position: absolute;
    top: 0px;
    border-bottom-right-radius: 1rem;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    height: 23px;
    width: 23px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.quantity-badge-list {
    position: absolute;
    border-bottom-right-radius: 1rem;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    height: 20px;
    width: auto;
    min-width: 20px;
    font-size: 0.7rem;
    font-weight: 500;
    color: #fff;
    display: block;
    text-align: center;
}
.popup-overlay.customizable-scroll {
    background: 0 !important;
}

.btn-preference {
    background-color: #f5f5f5;
    border-radius: 0;
    border-radius: 0.275rem;
    border-bottom: 3px solid #e0e0e0;
    font-size: 0.9rem;
}
.user-preferred {
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-bottom: 3px solid #fc8019;
    color: #fc8019;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2147483647;
}

.delivery-assigned-block {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
}

.ongoing-payment {
    z-index: 100;
}
.ongoing-payment-spin {
    background-color: rgba(96, 125, 139, 0.45);
}

.spin-load,
.spin-load:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.spin-load {
    margin: 0px auto;
    font-size: 1px;
    border-top: 1.1em solid rgba(0, 0, 0, 0.2);
    border-right: 1.1em solid rgba(0, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    -webkit-animation: load8 1s infinite linear;
    animation: load8 1s infinite linear;
    left: 44% !important;
    top: 45% !important;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.location-error {
    bottom: 4rem;
}

.delivery-order-refresh {
    z-index: 2147483647;
    margin-top: -3.7rem;
    position: fixed;
    right: 0;
    font-size: 2rem;
    padding-top: 4rem;
}

.order-status-button {
    color: #424242;
    border: 1px solid #e0e0e0;
}

.order-track-button {
    border: 1px solid #e0e0e0;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #60b246;
    line-height: 21.5px;
}

.pulse {
    display: inline-block;
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    animation: pulse 2s infinite;
    vertical-align: middle;
    margin: -3px 0 0 3px;
    background: #60b246;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(96, 178, 70, 0.5);
    }
    50% {
        box-shadow: 0 0 0 26px rgba(96, 178, 70, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(96, 178, 70, 0);
    }
}

.ongoing-order-notify {
    background-color: #282c3f;
    border-radius: 0.275rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 0;
}
.going-different-restaurant-notify {
    margin-left: -1.2rem;
    margin-bottom: 3.8rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    color: #424242;
    background-color: #fff;
    border-color: #e0e0e0 !important;
}

.show-more {
    color: #60b246;
    cursor: pointer;
    font-size: 0.9rem;
}

.wallet-checkbox {
    display: none;
}

.transaction-wrapper {
    padding: 1.5rem 1.5rem 1.5rem 0.5rem;
    border-radius: 0.275rem;
}
.transaction-wrapper:nth-child(even) {
    background-color: rgba(247, 247, 247, 0.5);
}
.payment-select-block {
    border-bottom: 2px solid #eee;
}

.btn-redeem {
    height: 3rem;
    border-radius: 0.175rem;
    background: transparent;
    border: 1px solid #ccc;
    width: 100%;
}

.no-click {
    pointer-events: none;
}

.google-places-autocomplete {
    /* margin: 0 15px !important; */
    width: auto !important;
}
.google-places-autocomplete input {
    border-radius: 0;
    background-color: #fff;
    color: #222;
    height: 3.5rem;
    transition: 0.2s all linear;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
}
.google-places-autocomplete input:focus {
    box-shadow: 0 0px 6px 2px #eee;
    transition: 0.2s all linear;
    border-color: transparent
}

.location-suggestions-container {
    position: relative;
    margin-top: 0.6rem;
    background: #fff;
}
.location-suggestion {
    padding: 5px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.location-main-name {
    color: #171717;
    font-weight: 600;
}
.location-secondary-name {
    color: #757575;
}
.input-location-icon-field i {
    position: absolute;
    right: 10px;
    font-size: 23px;
    color: #bdbdbd;
    /* top: 16px; */
    padding-top:16px;
}
.btn-gps {
    background-color: transparent;
}
.location-loading-spinner {
    height: 40px;
    margin: 1rem auto auto;
    width: 40px;
    display: block;
}

.center-marker {
    position: absolute;
    top: 24%;
    left: 49.8%;
    transform: translate(-50%, -50%);
}
.confirm-gps-location {
    height: 23vh;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px -3px 12px -2px #e0e0e0;
}

.bg-danger {
    background-color: #f44336 !important;
}
.text-danger {
    color: #f44336 !important;
}

.address-not-usable {
    color: #ccc;
}
.address-not-usable h6 {
    color: #ccc;
}
.text-sm09 {
    font-size: 0.9rem;
}
.text-sm08 {
    font-size: 0.8rem;
}

.language-select {
    border: 0;
    max-width: 130px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
}

.react-tabs__tab-list {
    display: flex !important;
    justify-content: space-around !important;
    border: 0 !important;
    background-color: #fff;
}

.react-tabs__tab {
    padding: 15px 25px !important;
}

.react-tabs__tab--selected {
    border-color: transparent !important;
    color: #ff9801 !important;
    font-weight: 700;
}
.react-tabs__tab:focus {
    box-shadow: none !important;
    border-color: none !important;
}
.delivery-block-earning {
    background: #ff9801;
    background: -webkit-linear-gradient(to right, #ff9801, #f44336);
    background: linear-gradient(to right, #ff9801, #f44336);
}
.delivery-block-ongoing {
    background: #8bc34a;
    transition: 0.2s linear all;
}
.delivery-block-completed {
    background: #4caf50;
    transition: 0.2s linear all;
}

.secondary-slider-wrapper {
    padding: 1rem 0;
    border-left: 0;
    border-right: 0;
    background-color: #fafafa;
}

.ribbon-box:after {
    content: "";
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 22px;
    position: absolute;
    z-index: 1;
    -webkit-animation: slide 2.2s infinite;
    animation: slide 2.2s infinite;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

@keyframes slide {
    0% {
        transform: translateX(-130%);
    }
    100% {
        transform: translateX(100%);
    }
}


.subheader__image--pizza {
    background-image: url(/assets/img/bg/pizza.webp);
}.subheader__image--burger {
    background-image: url(/assets/img/bg/burger.webp);
}.subheader__image--schnitzel {
    background-image: url(/assets/img/bg/schnitzel.webp);
}.subheader__image--chicken-wings {
    background-image: url(/assets/img/bg/chicken-wings.webp);
}.subheader__image--spare-ribs {
    background-image: url(/assets/img/bg/spare-ribs.webp);
}.subheader__image--spaghetti {
    background-image: url(/assets/img/bg/spaghetti.webp);
}.subheader__image--sushi {
    background-image: url(/assets/img/bg/sushi.webp);
}.subheader__image--burrito {
    background-image: url(/assets/img/bg/burrito.webp);
}.subheader__image--indian {
    background-image: url(/assets/img/bg/indian.webp);
}.subheader__image--lieferando {
    background-image: url(https://lieferservice123.com/assets/img/bg/lieferando.jpg);
}.subheader__image  {
    max-height: 40vw;
    background-repeat: no-repeat;
    /* background-position-y: calc(49% - 9vw); */
    background-position-y: 49%;
    height: 40vw;
    background-size: 100%;
    background-position-x: 50%;
}.subheader__image_cut  {
    max-height: 300px;
    background-repeat: no-repeat;
    /* background-position-y: calc(49% - 9vw); */
    background-position-y: 49%;
    height: 40vw;
    background-size: 100%;
    background-position-x: 50%;
    clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
}.subheader__image .subheader__content {
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}.subheader__image .subheader__content .subheader__title, .subheader__image .subheader__content .subheader__title h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/* cart */
.minimumorderamount-reached {
    text-align: center;
    border-top: 1px solid #d7d7d7;
    padding-top: 25px;
    margin-top: 15px;
    color:#666;
}

/* logo */
.restaurant-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}.restaurant-logo__container {
    /* height: 107px;
    width: 107px; */
    height: 96px;
    width: 96px;
    cursor: pointer;
}.restaurant-logo__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid #d7d7d7; */
    background: #fff;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}.restaurant-logo img {
    max-height: 60px;
    max-width: 87px;
}









/* radio buttons START*/
/* The container */
.payment_func {
    display: block;
    position: relative;
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: normal;
    border-bottom: 1px solid #e1e2dd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .payment_func input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    left: 15px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .payment_func:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .payment_func input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .payment_func input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .payment_func .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  /* radio buttons END*/

  
  /* input GuestCheckout */
  .kundenDaten{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e1e2dd;
    padding: 0 0 5px;
    height: auto;
    font-size: 16px;
  }
  .kundenDaten:focus{
    border: none;
    border-bottom: 2px solid rgb(252, 128, 25);
  }


  /* msg */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

  .message-blue {
      position: relative;
      margin-left: 20px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #E5E4E9;
      height: 80px;
      text-align: left;
      font: 400 .9em 'Open Sans', sans-serif;
      border: 1px solid #E5E4E9;
      border-radius: 10px;
      color:#000;
  }
  
  .message-content {
      padding: 0;
      margin: 0;
  }
  
  .message-timestamp-right {
      position: absolute;
      font-size: .85em;
      font-weight: 300;
      bottom: 5px;
      right: 5px;
  }
  
  .message-timestamp-left {
      position: absolute;
      font-size: .85em;
      font-weight: 300;
      bottom: 5px;
      left: 5px;
      color:#666;
  }
  
  .message-blue:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 15px solid #E5E4E9;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      top: 0;
      left: -15px;
  }
  
  .message-blue:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 17px solid #E5E4E9;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      top: -1px;
      left: -17px;
  }

/* appInstall font */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans'), local('OpenSans'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
  

@media only screen and (max-width:1148px) { /*if smaller than x */
    .advantagesIndexList { text-align:left; margin:auto; max-width:500px; }
    .advantagesIndex { width:100%; float:left; margin:10px 0; }
    .advantagesIndex div.img { float:left; width:50px; text-align:center;  }
    .advantagesIndex img { height:50px; margin-top:20px; }
    .advantagesIndex div { float:right; width:calc(100% - 80px)}
    .advantagesIndex h1 { font-size:18px; margin: 15px 0 5px; }
    .advantagesIndex p { font-size:14px; }
}@media only screen and (min-width: 1148px) { /*if bigger than x */
    .advantagesIndexList { text-align:center; margin:auto; max-width:1184px; }
    .advantagesIndex { width:33.33%;  float:left; margin:10px 0; }
    .advantagesIndex div.img { text-align:center; }
    .advantagesIndex img { height:90px }
    .advantagesIndex div { float:none; }
    .advantagesIndex h1 { font-size:32px; margin: 15px 0; }
    .advantagesIndex p { font-size:18px; max-width:350px; margin:auto; }
}
.advantagesIndex h1 {
    font-weight: bold;
    /* letter-spacing: -0.04ch; */
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.3); */
    color: rgb(25, 25, 25);
}
.advantagesIndex p {
    color: rgb(25, 25, 25);;
    margin-bottom: 30px;
    font-weight: 600;
    font-family: 'open sans';
}
.advantagesIndex a {
    color: #fc8019 !important;
    font-weight: bold;
    cursor: pointer;
    margin-top:12px;
    display:block;
}


@media only screen and (max-width: 1148px) { /*if smaller than x */
    .advantagesShopper { width: 100%;  float: left; margin: 10px 0; }
    .domainTop { display: none; }
}@media only screen and (min-width: 1148px) { /*if bigger than x */
    .advantagesShopper, .howto { width: 33.33%;  float: left; margin: 10px 0; }
    .backTop { display: none; }
}
.advantagesShopper div {
    font-size: 24px;
    font-weight: 400;
    font-family: 'open sans';
    margin: 15px 0;
    color:#fff;
}
.advantagesShopper p {
    color: #e0cbc1;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'open sans';
    max-width: 350px;
    margin: auto;

}

.howto div {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    font-family: 'open sans';
    margin: 15px 0;
}
.howto p {
    color: #777;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'open sans';
}


@media only screen and (max-width: 768px) { /*if smaller than 768px */
    .cartTop { display: none; }
}@media only screen and (min-width: 768px) { /*if bigger than 768px */
    .cartTop { display: block; }
    .footer-fixed{ display: none; }
}
  
/* footer */
.footerLinks a{
    margin: 4px 5px;
    cursor: pointer;
    padding: 1px 10px;
    color: #999 !important;
    font-weight: 300;
    font-family: "open sans";
}.footerLinks a:hover{
    color: #000 !important;
}

.footerLinks div{
    margin: 20px 0 10px;
    width: 100%;
    float: left;
    font-weight: bold;
}

/* flags */
.locale-flag {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid #fff;
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover !important;
}
.locale-flag-de {
    background: url(/assets/img/flags/de.svg);
}

.locale-flag-de-at{
    background:url(/assets/img/flags/at.svg)
}

.locale-flag-de-ch{
    background:url(/assets/img/flags/de.svg)
}

.locale-flag-en{
    background:url(/assets/img/flags/gb.svg)
}

.backgroundImg{
    overflow:auto;
    text-align:center; 
    line-height: 24px;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
@media only screen and (min-width: 768px) { /*if bigger than 768px */
    /* .backgroundImg{
        min-height: 200px;
    } */
}

.locateMe{
    cursor: pointer;
    padding: 13px 10px;
    font-weight: 600;
    font-family: "open sans";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}
.SearchIcon{
    cursor: pointer;
    padding: 10px;
    font-weight: 600; 
    font-family: "open sans";
    position: relative;
    top: 30px;
    left: 25px;
}

.vorteile{
    display: table-row;
    font-size: 11px;
    font-family: "open sans";
    font-weight: 300;
}

#suggestionsBox{
    max-width:calc(100% - 430px);
}


@media only screen and (min-width: 535px) { /*if bigger than 768px */
    .faq{
        max-width:768px;
        margin:auto;
        font-family:open sans; 
        font-weight:300;
        padding:40px 18px 50px;
    }
    .faqHead{
        font-Size: 3.5rem;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .accordionCard{
        margin: 10px 0;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .accordionHead{
        background:rgba(0,0,0,.03);
        padding: .75rem 1.25rem;
        cursor: pointer;
        font-size: 2.125rem;
    }
    .accordionBody{
        padding: .75rem 1.25rem;
        margin-top: 5px;
        color:#777;
        font-weight: 300;
        font-family: "open sans";
        line-height: normal;
        font-size: 1.5rem;
    }
    .header{
        height: 98.88;
        padding: 10px 0;
        overflow: auto;
        margin: auto;
    }
    .searchBox{
        background: transparent; 
        width: calc(100% - 340px); 
        margin:auto;
        padding:0 15px;
        float: left;
    }
    .menuHeaderCart{
        padding-left:20px;
    }
}
@media only screen and (max-width: 535px) { /*if smaller than 768px */
    .faq{
        max-width:768px;
        margin:auto;
        font-family:open sans; 
        font-weight:300;
        padding:40px 0 50px;
    }
    .faqHead{
        font-Size: 24px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .accordionCard{
        margin: 10px 0;
        border-top: 1px solid rgba(0,0,0,.125);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .accordionHead{
        background:rgba(0,0,0,.03);
        padding: .75rem 1.25rem;
        cursor: pointer;
        font-size: 1.125rem;
    }
    .accordionBody{
        padding: .75rem 1.25rem;
        margin-top: 5px;
        color:#777;
        font-weight: 300;
        font-family: "open sans";
        line-height: normal;
        font-size: 1.2rem;
    }
    
    .searchBox{
        width:100%; 
        margin:auto;
        padding:0 15px;
        float: left;
        padding-top:15px;
        padding-bottom: 10px;
        margin-top: -5px;
    }

    #suggestionsBox{
        max-width:100%;
    }

    .menuHeaderCart{
        padding-left:10px;
    }

}

/* countdown running order */
.css-countdown {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: -68px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
}
.css-countdown-circle {
    stroke: #FC8019;
    stroke-linecap: round;
    transition: all 0.5s linear 0.6s;
}
.css-countdown-min {
    x: 40px;
    font-size: 26px;
    font-weight: bold;
    fill: rgb(10, 56, 71);
}

.carousel-dots{
    margin:0;
}

/* lang */
.flag-container {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    position: relative;
    vertical-align: text-bottom;
    margin-right: 2px;
    top: -1px;
    width: 16px;
}

.flag-container .locale-flag {
    width: 16px;
    height: 14px;
    border: 0;
    border-color: #fff;
}

.bequemEinkaufen {
    border: none;
}
.bequemEinkaufen:focus {
    border: none;
}

.supermarketOrders{
    margin: 10px;
    font-size:0.98rem;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor:pointer;
    position:relative;
    padding: 15px;
    font-size:12px;
    background: #fff;
}

/* div.supermarketOrders:nth-child(even) {background: #fff}
div.supermarketOrders:nth-child(odd) {background: #f2f2f2} */



/* @media only screen and (min-width: 1240px) {
    .infobaars{
        display: none;
    }
} @media only screen and (max-width: 1240px) {
    .menuHeader{
        display: none;
    }
} */

@media only screen and (min-width: 825px) { /*if bigger than 825px */
    .scrollbar{
        width:100%;
        overflow: hidden;
        font-weight: 600;
        font-family: "open sans";
    }
    .menuHeaderCountry{
        position: absolute;
        left: 15px;
        top: 15px;
        color: #fff;
        cursor: pointer;
        padding:0 10px;
        border: 1px solid #666;
        border-radius: 2px;
        box-shadow: rgb(162, 149, 138) 1px 1px 5px 0px;
    }
    .menuHeaderCountry:hover{
        border: 1px solid #999;
    }
    .menuHeaderCountryIcon{
        float:left;
        margin-right:5px;
        height: 35px;
        font-size: 22px;
    }
    .menuHeaderCountry div{
        float: left;
        line-height: normal;
    }
    .menuHeaderCountry span{
        font-size: 12px;
        color:#ccc;
        display: block;
    }


    .mainPageItemShops{
        width:190px !important;
        height: 300px;
        text-align:left;
        background:#fff;
        list-style: none;
        border:none !important;
    }

    .mainPageItem{
        width:190px !important;
        height: 300px;
        text-align:left;
        background:#fff;
        list-style: none;
        border:none !important;
    }

    
    .mainPageItem img{
        height:155px;
    }

    .addToOrderQuickAdd{
        width: 186px
    }
    .addToOrderQuickAdd span{
        width: 56px
    }
    .addToOrderQuickAdd .quantityQuick{
        width: 72px
    }
    
} @media only screen and (max-width: 825px) { /*if smaller than 1240px */
    .scrollbar{
        width:calc(100vw - 20px);
        overflow: scroll;
    }
    .menuHeaderCountry{
        display: none;
        width: 100%;
        background: rgba(56, 70, 92, 1);
        float: left;
        padding: 5px 10px;
        color: #fff;
        position: relative;
    }
    .menuHeaderCountryIcon{
        float:left;
        margin-right:5px;
        height: 35px;
        font-size: 15px;
    }


    .mainPageItemShops{
        width:166px !important;
        height: 200px;
        text-align:left;
        background:#fff;
        list-style: none;
        border:none !important;
    }
    
    .mainPageItem{
        width:166px !important;
        /* height: 200px; */
        text-align:left;
        background:#fff;
        list-style: none;
        border:none !important;
    }

    
    .mainPageItem img{
        /* height:83px; */  
        height:103px; 
    }
    
    .addToOrderQuickAdd{
        width: 147px
    }
    .addToOrderQuickAdd span{
        width: 49px
    }
    .addToOrderQuickAdd .quantityQuick{
        width: 49px
    }
}

.backgroundImgIndex{
    overflow:auto;
    padding: 60px 16px 16px; 
    line-height: 24px;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 400px;
}

.txtBG{
    max-width:768px;
    margin:auto;
    text-shadow: 0 1px 4px rgba(0,0,0,0.1);
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding: 25px 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
}

.optionen{
    color: #ccc;
    cursor: pointer;
}.optionen:hover{
    color: #333;
}

.dropdown-menu[aria-labelledby = ddown] {
    background-color: #fff;
    max-width: 80px; 
    border-radius: 0;
    margin: 0;
  }

  .menuHeaderCountryMobile{
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: rgba(72, 98, 112, 0.08) 0px 2px 6px 0px;
    display: inline-block;
}.menuHeaderCountryMobile:hover{
    box-shadow: rgb(162, 149, 138) 1px 1px 5px 0px;
    border: 1px solid #fff;
}
.menuHeaderCountry div, .menuHeaderCountryMobile div{
    float: left;
    margin-left: 2px;
    margin-top: 8px;
    font-size: 13px;
}
.menuHeaderCountry div b, .menuHeaderCountryMobile div b{
    font-weight: normal;
}
.menuHeaderCountry span, .menuHeaderCountryMobile span{
}

.einkaufenLink{
    float: left;
    padding: 8px;
    font-size: 11px;
    position: relative;
    margin: 15px 0;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: rgba(72, 98, 112, 0.08) 0px 2px 6px 0px;

    min-width: 86px;
    max-width: 86px;
    min-height: 93px;
    max-height: 93px;

    margin-right: 8px;

}
.einkaufenLink:hover{
    box-shadow: rgb(162, 149, 138) 1px 1px 5px 0px;
}

.menuHeaderShop{
    float: left;
    padding: 8px 16px;
    position: relative;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: rgba(72, 98, 112, 0.08) 0px 2px 6px 0px;
}

.mainPageShop{
    background:#fff;
    border: 1px solid #eee;
    box-shadow: rgba(72, 98, 112, 0.08) 0px 2px 6px 0px;
    font-weight: normal;
    color: rgb(72, 98, 112);
    padding: 10px;
    height: 39px;
}.mainPageShop:hover{
    box-shadow: rgb(162, 149, 138) 1px 1px 5px 0px;
    border: 1px solid #fff;
    background: #fff;
    color: #333;
}

@media only screen and (max-width: 1080px) { 
    .cartMobile{
        display: block;
    }
}@media only screen and (min-width: 1080px) {
    .cartMobile{
        display: none;
    }
}

/* shopper */
@media only screen and (min-width: 520px) { 
    .shopper span{
        font-size: 20px;
    }
}@media only screen and (max-width: 520px) {
    .shopper span{
        font-size: 16px;
    }
}
.shopper{
    background: linear-gradient(318.68deg, rgb(15, 73, 92) 0%, rgb(13, 54, 64) 49.72%, rgb(8, 20, 31) 100%);
    /* background: #1576FF; */
    padding: 8px 10px;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    color:#fff;
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 0px; */
    height: 45.7px;
}.shopper:hover{
    color: #fff;
}

.shopper2{
    background: linear-gradient(318.68deg, rgb(15, 73, 92) 0%, rgb(13, 54, 64) 49.72%, rgb(8, 20, 31) 100%);
    width: 100%;
    text-align: center;
    display: inline-block;
    color: #fff;
    position: relative;
    cursor: pointer;
}

@media only screen and (min-width: 755px) { 
    .hourInfo {
        font-size: 38px;
    }
}@media only screen and (max-width: 755px) {
    .hourInfo {
        font-size: 30px;
    }
}@media only screen and (max-width: 605px) {
    .hourInfo {
        font-size: 28px;
    }
}
.hourInfo{
    font-weight: 600;
    font-family: "open sans"; 
    text-shadow:  1px 1px 1px rgba(0,0,0,0.3);
}

@media only screen and (max-width: 405px) {
    .hide {
        display: none;
    }
}
@media only screen and (min-width: 660px) { 
    .hide3 {
        display: none;
    }
    .headerMenuLeft  {
        /* position: fixed;
        left: 18px; */
        z-index: 2;
        /* float: left; */
        margin-right: 25px;
    }
    .headerMenuRight  {
        position: fixed;
        right:18px;
        top: 15px;
        /* float: right; */
    }
    .shopSearch_a_Name{
        margin: auto;
        color: rgb(255, 255, 255);
        line-height: 20px;
        max-width: 634px;
    }
    .fix-shopSearch_a_Name{
        float: left;
        width: calc(100% - 440px);
        padding: 14px 10px;
        max-width: 100% !important;

    }
    .search{ display: none !important; }
    .fix-desktopSearch{
        display: inline-block !important;
    }
    
    .show-storeImg{
        display: inline-block !important;
    }
}@media only screen and (max-width: 660px) {
    .hide2 {
        display: none;
    }
    .hide3 {
        display: inline-block;
    }
    
    .headerMenuLeft  {
        position: fixed;
        left: 8px;
        top: 16px;
        z-index: 2;
    }
    .headerMenuRight  {
        position: fixed;
        right:8px;
        top: 16px;
    }

    .shopSearch_a_Name{
        line-height: 20px;
    }
    .fix-shopSearch_a_Name{
        float: none;
    }
    .fix-desktopSearch{
        display: none !important;
    }
    .show-storeImg{
        display: none;
    }
}

.domainTopDesktop{
    cursor: pointer;
    font-size: 24px;
    position: relative;
    float: left;
    padding: 16px 10px;
    padding-left: 16px;
}.addBg-domainDesktop:hover{
    background: #eee;
}

.StoreTopDesktop{
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    position: relative;
    float: left;
    padding: 16px 10px;
}.addBg-storeDesktop:hover{
    background: #eee;
}

.searchBox2{
    width:100%; 
    max-width: 634px;
    margin:auto;
    padding:15px 16px 8px;
    margin-top: -5px;
}

.deliveryToMobile{
    width: 100%;
    /* background: rgba(56, 70, 92, 1); */
    overflow: auto;
    /* color: #fff; */
} 
.deliveryToMobile div{
    float: left;
    margin-left: 2px;    
    padding: 10px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: "open sans";
    position: relative;
}




@media only screen and (min-width: 680px) { 
    .workModel{
        float:left;
        width:100%;
        max-width:300px;
        border:1px solid #9e9e9e;
        border-radius: 5px;
        padding:20px 20px 10px;
        margin:20px;
    }
}@media only screen and (max-width: 680px) {
    .workModel{
        float:left;
        width:calc(100% - 36px);
        border:1px solid #9e9e9e;
        border-radius: 5px;
        padding:20px 20px 10px;
        margin-bottom:20px;
    }
}


@media only screen and (min-width: 766px) { 
    /* bigger as 766px */
    .searchArea{
        margin: auto;
        background: white;
        box-shadow: rgb(136, 136, 136) 2px 1px 20px !important;
        padding: 10px 60px;
        max-width: 500px;
    }
    .imgbg{
        /* 
        https://images.unsplash.com/photo-1583258292688-d0213dc5a3a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80&h=370
        https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80&h=370
        https://images.unsplash.com/photo-1581515286348-98549702050f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80&h=370
        
        */
        background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80&h=370");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.3);
    }
    .hourInfo { color:#111; text-align:center;  }
    .input-location-icon-field input{ border-radius: 4px; }
    .loginBtn{ background: #000; }
}@media only screen and (max-width: 766px) {
    /* smaller as 766px */
    .searchArea{
        margin: auto;
    }
    .imgbg{
        background: linear-gradient(318.68deg, rgb(15, 73, 92) 0%, rgb(13, 54, 64) 49.72%, rgb(8, 20, 31) 100%);
        overflow: auto;
    }

    .hourInfo { color:#fff; text-align:center; }
    .sloganInfo { color:#fff;  }
    .cities{ color:#fff; text-align: center; }
    .cities a{ border-bottom: 1px solid #fff; }
}

.fix-shop-menu{
    position: fixed;
    top: 59px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 6;
    box-shadow: 0 4px 5px rgba(0,0,0,.16);
}
.fix-backgroundImg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    background-image: none !important;
    z-index: 6;
    box-shadow: 0 1px 5px rgba(0,0,0,.16);
    height: 60px;
    color: rgb(95, 99, 104) !important;
}

.addProd{
    border: 1px solid rgb(96, 178, 70)
}.addProd:hover{
    border: 3px solid #E5E5E5
}

.closeMe {
    cursor: pointer;
    padding: 13px 10px;
    font-weight: 600;
    font-family: "open sans";
    position: absolute;
    top: -7px;
    right: -5px;
    font-size: 20px;
}

.hideForEver {
    display: none;
}

.shopsList_v2{
    background:#fff;
}
.shopsList_v2:hover{
    background:#EEF7FA;
}

.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    position: relative; 
    line-height: 1.5em;
    max-height: 4.5em; /* max-height = line-height (1.2) * lines max number (3) */
    margin-bottom: 4px;
    font-size: 12px;
    color: #666;
    width: 100%;
    float: left;
  }


  
@media only screen and (min-width: 766px) { /* bigger as 766px */
    
    .productImage{ float: left; width: calc(50% - 20px); }
    .productImage img{ width: 100%; margin-right: 20px; }

    .productDetails{ float: right; width: 50%; }

    .productDetails h1{ font-size: 24px; font-weight: 600; line-height: 28px; margin-bottom: 8px; color: #34455E;}
    
    .productDetails .price{ font-size: 26px; line-height: 26px; font-weight: 600; display: block; color: #bf0b1c; font-family:"open sans"; }
    .productDetails .description{ font-size: 16px; line-height: 26px; color: #6C767F; margin: 20px 0; }

    .productDetails button{ margin: 20px 0; }

} @media only screen and (max-width: 766px) {/* smaller as 766px */
    
    .productImage{ width: 100%; margin-bottom: 20px; text-align: center; }
    .productImage img{ max-width: 132px; }
  
    .productDetails{ width: 100%; }

    .productDetails h1{ font-size: 20px; font-weight: 600; line-height: 28px; margin-bottom: 8px; color: #34455E;}

    .productDetails .price{ font-size: 24px; line-height: 26px; font-weight: 600; display: block; color: #bf0b1c; font-family:"open sans"; }
    .productDetails .description{ font-size: 14px; line-height: 26px; color: #6C767F; margin: 20px 0; }
    
    .productDetails button{ margin: 20px 0; }

}
 
@media only screen and (min-width: 515px) { /* bigger as 766px */
    .tabStyle{ position: relative; display: inline; padding: 14px 16px; cursor: pointer; float: left; }
    .tabStyle:hover{ background: #eee; }
    .tabStyleClicked{ position: relative; display: inline; padding: 14px 16px; color: #ff8000; float: left; }

    #userPages{ left: 233px; }

} @media only screen and (max-width: 515px) {/* smaller as 766px */
    .tabStyle:first-child{ position: relative; display: inline; padding: 14px 10px; padding-left:16px; cursor: pointer; float: left; }
    .tabStyle{ position: relative; display: inline; padding: 14px 10px; cursor: pointer; float: left; }
    .tabStyleClicked{ position: relative; display: inline; padding: 14px 16px; color: #ff8000; float: left; }

    #userPages{ right: 10px; }

} @media only screen and (max-width: 398px) {/* smaller as 766px */
    #mehr{ display: none !important; }
}

#userPages{ position: absolute; background: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 0.1875rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25rem 0.5rem; margin-top: 50px; z-index: 1; }
#userPages div:hover{ background: #EEF0F2; }

.fix-userPages{ position: inherit !important; }

.footer-items { background: #232F3E; color :#fff; padding: 30px 10px; overflow: auto;}
.footer-items h1 { font-size: 18px; color :#fff; text-transform: uppercase; }
.footer-items ul { float: left; padding: 0.5rem 1rem; }
.footer-items li { margin: 10px 0; margin-left: 15px; }
.footer-items a { cursor: pointer; }
.footer-items i { background: #fff; border: 5px solid #fff; padding:1px; border-radius: 1px; margin-right:5px; }

@media only screen and (min-width: 766px) { /* bigger as 766px */
    .footer-items ul { width: 33.33%; }

} @media only screen and (max-width: 766px) {/* smaller as 766px */
    .footer-items ul { width: 100%; padding: 10px; }

}

.hide-shopNameDesktop{
    display: none;
}

@media only screen and (min-width: 478px) { /* bigger as 766px */
    .shopNameMobile{ position: relative; margin: 8px auto 15px; font-weight: 600; font-family: "open sans"; max-width: calc(100% - 125px); }

} @media only screen and (max-width: 478px) {/* smaller as 766px */
    .shopNameMobile{ position: relative; margin: 16px auto 15px; font-weight: 600; font-family: "open sans"; max-width: calc(100% - 125px); }
}



.suggestion-word-style{
    width: 100%;
    float: left;
    padding: 5px 10px;
    position: relative;
}

textarea {
    resize: none;
}



.borderAdd{
    /* background: #87CEF5 !important; */
}

.moreCss{
    background-color: rgb(252, 128, 25);
    animation-fill-mode: both;
    animation-duration: 150ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    animation-name: react-reveal-142951629863138-2;
}

.installApp{
    position: relative;
    color: rgb(255, 255, 255);
    box-shadow: rgb(255, 106, 0) 0px 1px 2px 0px;
    background: linear-gradient(90deg, rgb(253, 141, 66), rgb(255, 106, 0));
    padding: 8px 10px 4px;
    border-radius: 0.2rem;
    font-weight: 600;
    font-family: "Google Sans", sans-serif;
    cursor: pointer;
    margin: 10px auto;
    width: 220px;
    display: inline-block;
}


.homeHeader{
    background: #1576FF;
    color: #fff;
    font-size: 16px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.homeHeader li {
    display: inline-block;
    width: 25%;
    position: relative;
    padding: 12px 0;
}
.homeHeader svg {
    font-size: 40px;
}
.homeHeader img {
    width: 30px;
}
.homeHeader div{
    padding-top: 5px;
    /* letter-spacing: -0.3px; */
    font-size: 13px;
}

.homeApps{
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    color: #454545;
}
.homeApps li{
    display: inline-block;
    padding: 10px 0;
    width: 80px;
    min-width: 25%;
    text-align: center;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.homeApps div{
    font-weight: 600;
    font-family: "open sans";
    padding-top: 3px;
    letter-spacing: -1px;
    font-size: 12px;
}
.homeApps svg{
    font-size: 30px;
}

.homeNotification{
    width: 100%;
    margin: 10px 0;
    overflow: auto;
}
.homeNotification i{
    background: #F2F9FE;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
}
.homeNotification img{
    width: 30px;
    float: left;
}
.homeNotification span{
    float: right;
    width: calc(100% - 65px);
    font-size: 12px;
    font-weight: 400;
    font-family: "open sans";
    line-height: 1.2;
    margin-top: 5px;
    letter-spacing: -0.5px;
    color: #999;
}
.homeNotification b{
    font-size: 13px;
    font-weight: 600;
    font-family: "open sans";
    color: #333;
}
.active-footer-tab-superapp {
    color: #1D82D2;
    font-weight: 600;
}







.homeAppsSmall{
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    color: #454545;
    text-align: center;
}
.homeAppsSmall li{
    display: inline-block;
    padding: 10px 0;
    width: 25px;
    text-align: center;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.homeAppsSmall div{
    font-weight: 600;
    font-family: "open sans";
    padding-top: 3px;
    letter-spacing: -1px;
    font-size: 12px;
}
.homeAppsSmall svg{
    font-size: 30px;
    width: 20px !important;
    height: 20px;
}
.homeAppsSmall svg.withBg{
    font-size: 30px;
    width: 20px !important;
    height: 20px;
    padding: 0 5px;
}




.homeApps30{
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    color: #454545;
}
.homeApps30 li{
    display: inline-block;
    padding: 10px 0;
    width: 80px;
    min-width: 33.33%;
    text-align: center;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.homeApps30 div{
    font-weight: 600;
    font-family: "open sans";
    padding-top: 3px;
    letter-spacing: -1px;
    font-size: 12px;
}
.homeApps30 svg{
    font-size: 30px;
}

.selectLang li{
    width: 190px;
    float: left;
    list-style-type: none;
    padding: 4px 5px 4px 10px;
    cursor: pointer;
}
.selectLang li:hover{
    background: #E8F0FE;
    color: #1E5ABC;
}

.modal-xl{
    width: 1200px;
    max-width: 90%;
}